@media screen and (max-width: 480px) {
    .professionals h2 {
        padding-bottom: 70px;
        max-width: 100%;
        text-align: center;
        padding-top: 1em;
        font-size: 17px;
    }

    .courses_button {
         margin-left: 0;
    }

    .popup {
      margin-left: 50px;
        padding-top: 30px;
        width: 1000px;
        height: 115px;
      text-align: center;
    }

    .courses_img {
        text-align: center;
    }

    .lovings {
        padding-top: 20px;
    }

    .form_image {
         padding-bottom: 0;
    }

    .browse_course{
        text-align: center;
    }

    .course h2 {
        font-size: 18px;
    }

    .whichever strong {
        font-size: 18px;
    }

    .academy_class h2 {
        font-size: 22px;
    }

    .three {
        font-size: 16px;
    }

    .stills strong {
        width: 100%;
        font-size: 25px;
    }

    .common_bg_style select {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    .courses_img {
        text-align: center;
    }
    .lovings {
        padding-top: 20px;
    }

    .form_image {
        padding-bottom: 0;
    }

    .professionals h2 {
        padding-left: 0.6em;
        font-size: 20px;
    }

    .browse_course{
        text-align: left;
    }

    .browse_course button{
        margin-left: 0;
    }

    .course h2 {
        font-size: 20px;
    }

    .whichever strong {
        font-size: 20px;
    }

    .academy_class h2 {
        font-size: 23px;
    }

    .three {
        font-size: 18px;
    }

    .stills strong {
        width: 100%;
        font-size: 26px;
    }

    .common_bg_style select {
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 780px) {
    .lovings {
        padding-top: 20px;
    }
    .form_image {
        padding-bottom: 0;
    }
    .side_menu_toggle{
        padding-top: 30px;
    }

    .academy_class h2 {
        font-size: 23px;
    }
    .three {
        font-size: 18px;
    }
    .common_bg_style select {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 980px) {
    .lovings {
        padding-top: 20px;
    }
    .form_image {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1024px) {

}